.container { 
    display: flex;
    min-height: calc(100vh - 78px - 20px); /* calc(viewport_height - nav_height - 2 * body_margin)*/
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
}

.form_container {
    max-width: 40vw;
}

.task_container {
    background-image: linear-gradient(to right, rgba(21,23,43,0), rgba(21,23,43,1), rgba(21,23,43,1),rgba(21,23,43,0));
    max-height: calc(100vh - 78px - 20px - 10px); /* calc(viewport_height - nav_height - 2 * body_margin - element_margin__top&bottom)*/
    max-width: 40vw;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}
.task_container::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form_container {
        max-width: 100%;
        margin: auto;
    }
    .task_container {
        max-width: 100%;
        margin: auto;
        padding-top: 30px;
        max-height: 90vh;
    }
    
}
